# CMake build directories
cmake-build-*/
!cmake-build-release-mingw/
!cmake-build-release-mingw/bin/**
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.cmake/

# Executables
*.obj
*.o
*.a

# CLion / JetBrains IDE
.idea/
*.iml

# CMake API Replies
.cmake/api/

# CMake logs and other files
Testing/
*.log
*.rsp
*.d
*.bin
*.yaml

# Python __pycache__ and compiled files
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore example and temp files if not source
example.txt
.clang-format
